/*公共样式*/
/*1.样式重置*/
* {
  margin: 0;
  padding: 0;
}
html,
body,
ul,
li,
img,
a,
p,
div,
form,
input {
  padding: 0;
  margin: 0;
  /*设置盒模型*/
  box-sizing: border-box;
  /*去除移动端特有的点击高亮效果*/
  -webkit-tap-highlight-color: transparent;
}
body,
html,
div,
blockquote,
img,
label,
p,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
ul,
ol,
li,
dl,
dt,
dd,
form,
a,
fieldset,
input,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}
body,
html {
  font-family: "Microsoft Yahei";
  font-size: 12px;
  display: block;
  background-color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
ul,
ol {
  list-style: none;
}
a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
  color: #f42828;
}
input {
  /*1.清除文本框获取焦点时默认的边框阴影*/
  outline: none;
  /*2.去除边框*/
  border: none;
  /*3.添加边框*/
  border: 1px solid #ccc;
}
.clearfix::before,
.clearfix::after {
  content: "";
  display: block;
  height: 0;
  line-height: 0px;
  clear: both;
  visibility: hidden;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
em,
i {
  font-style: normal;
}
img {
  vertical-align: bottom;
  border: none;
  border: 0;
}
button {
  border: 0px;
  background-color: transparent;
}
.container {
  width: 1300px;
  margin: 0 auto;
}
header,
footer,
.swiper-container,
.nav-line,
nav,
.banner,
.by-support {
  min-width: 1300px;
}
/* 公共部分样式 */
.nav-line {
  width: 100%;
  height: 10px;
  background-color: #5dbaba;
  position: relative;
}
header {
  height: 150px;
}
header .header-l {
  margin-top: 40px;
}
header .header-l .logo {
  width: 220px;
  height: 70px;
  display: block;
}
header .header-r {
  margin-top: 20px;
  width: 560px;
  height: 110px;
}
header .header-r ul li {
  float: left;
  position: relative;
}
header .header-r ul .by-tell {
  width: 300px;
  height: 90px;
  border-radius: 6px;
  border: solid 1px #eeeeee;
}
header .header-r ul .by-tell img {
  width: 64px;
  height: 64px;
  display: block;
  margin: 13px 0 13px 8px;
}
header .header-r ul .by-tell .tell-r {
  margin: 19px 9px 19px 16px ;
}
header .header-r ul .by-tell .tell-r span {
  font-size: 18px;
  color: #ff8811;
  display: block;
}
header .header-r ul .by-tell .tell-r span:nth-of-type(2) {
  font-size: 24px;
  margin-top: 10px;
}
header .header-r ul .by-ewm1,
header .header-r ul .by-ewm2 {
  width: 110px;
  height: 110px;
  border: solid 1px #eeeeee;
  text-align: center;
  margin-left: 20px;
  cursor: pointer;
}
header .header-r ul .by-ewm1 .img-border,
header .header-r ul .by-ewm2 .img-border {
  width: 70px;
  height: 70px;
  border-radius: 6px;
  border: solid 1px #c3c3c3;
  padding: 8px;
  margin: 8px 20px 0;
}
header .header-r ul .by-ewm1 .img-border img,
header .header-r ul .by-ewm2 .img-border img {
  width: 54px;
  height: 55px;
  display: block;
}
header .header-r ul .by-ewm1 .hide-img,
header .header-r ul .by-ewm2 .hide-img {
  position: relative;
  width: 110px;
  height: 110px;
  margin-top: 10px;
  display: none;
  z-index: 5555555555;
}
header .header-r ul .by-ewm1 .hide-img img,
header .header-r ul .by-ewm2 .hide-img img {
  width: 100%;
  height: 100%;
  display: block;
  z-index: 5555555555;
}
header .header-r ul .by-ewm1 .hide-img h4,
header .header-r ul .by-ewm2 .hide-img h4 {
  color: #fff;
  font-size: 14px;
  margin-top: 5px;
  font-weight: 400 ;
}
header .header-r ul .by-ewm1 h5,
header .header-r ul .by-ewm2 h5 {
  color: #666666;
  font-size: 14px;
  margin-top: 5px;
  font-weight: 400 ;
}
header .header-r ul .by-ewm2:hover .hide-img,
header .header-r ul .by-ewm1:hover .hide-img {
  display: block;
}
/* 导航 */
nav {
  width: 100%;
  height: 60px;
  background-color: #3d6075;
  border-bottom: solid 1px #ff8811;
  z-index: 99999999999999;
}
nav ul {
  margin-left: -53px;
}
nav ul > li {
  float: left;
  width: 140px;
  height: 60px;
  line-height: 60px;
  margin-left: 53px;
  text-align: center;
}
nav ul > li a {
  color: #fff;
  font-size: 16px;
  width: 100%;
  display: inline-block;
}
nav ul > li a:hover,
nav ul > li a:focus {
  color: #fff;
  background-color: #ff8811;
}
nav ul > li .submenu {
  width: 140px;
  height: 210px;
  background-color: rgba(255, 136, 17, 0.8);
  z-index: 2222;
  position: absolute;
  display: none;
}
nav ul > li .submenu ol > li {
  width: 140px;
  height: 42px;
  line-height: 42px;
  text-align: center;
}
nav ul > li .submenu ol > li a {
  font-size: 16px;
  width: 100%;
  height: 100%;
  display: inline-block;
}
nav ul > li .submenu ol > li a:hover,
nav ul > li .submenu ol > li a:focus {
  background-color: rgba(58, 58, 58, 0.308);
}
nav ul .by-area {
  width: 200px;
  height: 350px;
  background-color: #2f546a;
  border-radius: 10px;
  z-index: 2222222222;
  position: relative;
  margin-top: 30px;
  padding-top: 40px;
}
nav ul .by-area ol > li {
  width: 200px;
  height: 50px;
  border-radius: 25px;
  line-height: 50px;
  cursor: pointer;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}
nav ul .by-area ol > li .area {
  width: 55px;
  height: 50px;
}
nav ul .by-area ol > li .area img {
  width: 100%;
  height: 100%;
  display: inline-block;
}
nav ul .by-area ol > li .name,
nav ul .by-area ol > li .phone {
  width: 100%;
  height: 50%;
  font-size: 14px;
  color: #ffffff;
  line-height: 25px;
}
nav ul .by-area li:hover,
nav ul .by-area li:focus {
  background-color: #233d4d;
}
nav ul .by-area li:nth-of-type(1) {
  width: 170px;
  height: 40px;
  line-height: 40px;
  color: #fefefe;
  font-size: 16px;
  background-color: #fe7f2d;
  border-radius: 20px;
  text-align: center;
  position: absolute;
  top: -20px;
  left: 15px;
  margin-bottom: 18px;
}
nav ul .by-area li:nth-of-type(1) img {
  margin: 4px 0 4px 10px;
}
.active {
  background-color: #ff8811;
}
/* footer */
footer .footer-content {
  overflow: hidden;
  height: 240px;
  background-color: #314b5b;
}
footer .footer-content .blogroll {
  padding-top: 18px;
  width: 100%;
  height: 40px;
}
footer .footer-content .blogroll ul li {
  float: left;
  margin-left: 13px;
  color: #ffffff;
  font-size: 16px;
}
footer .footer-content .blogroll ul li:nth-of-type(1) {
  margin-left: 0;
}
footer .footer-content .nav-list {
  width: 980px;
  height: 19px;
  line-height: 19px;
  margin: 100px auto 16px;
}
footer .footer-content .nav-list li {
  float: left;
  height: 100%;
  width: 140px;
  text-align: center;
  position: relative;
}
footer .footer-content .nav-list li a {
  color: #ffffff;
  font-size: 14px;
}
footer .footer-content .nav-list li a:hover {
  color: #eee;
}
footer .footer-content .nav-line {
  height: 2px;
  width: 747px;
  background-color: #3d6075;
  margin: 0 auto;
}
footer .footer-content .footer-contact {
  width: 620px;
  margin: 0 auto;
}
footer .footer-content .footer-contact ul li {
  float: left;
  margin-left: 17px;
  font-size: 14px;
  color: #fff;
  margin-top: 20px;
}
footer .footer-content .footer-contact ul li .icon-dianhua2,
footer .footer-content .footer-contact ul li .icon-dizhi01 {
  font-size: 16px;
  margin-right: 10px;
}
footer .footer-line {
  width: 100%;
  background-color: #2c4453;
  text-align: center;
  padding-top: 4px;
}
footer .footer-line ul li {
  color: #ffffff;
  font-size: 12px;
  line-height: 18px;
}
.spacer {
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 19px;
  background-color: #fff;
  display: inline-block;
}
.spacer1 {
  width: 118px;
  height: 2px;
  background-color: #ff8811;
  margin: 0 auto;
}
/*在线联系客服*/
.qqzixun {
  position: fixed;
  bottom: 55px;
  right: 20px;
  width: 70px;
  z-index: 2222222222222;
}
.qqzixun div {
  width: 70px;
  height: 70px;
  background-color: #3d6075;
  margin-top: 10px;
  text-align: center;
}
.qqzixun div:hover {
  background-color: #31babf;
}
.qqzixun div a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 115px;
  color: #fff;
  text-decoration: none;
}
.qqzixun div a:hover {
  color: #fff !important;
  text-decoration: none;
}
.qqzixun div:nth-of-type(1) a {
  background: url('../images/icon_Online.png') no-repeat center top;
}
.qqzixun div:nth-of-type(2) a {
  background: url('../images/icon_Sign.png') no-repeat center top;
}
.qqzixun div:nth-of-type(3) a {
  background: url('../images/icon_Top.png') no-repeat center top;
}
