.banner {
  width: 100%;
  height: 460px;
  background: url("../images/data/banner.png") center no-repeat;
}
/* 数据中心 */
.by-data {
  width: 100%;
  padding: 30px 0 40px;
}
.by-data .content-title {
  color: #3a3a3a;
  font-size: 24px;
  text-align: center;
}
.by-data .content-name {
  color: #999999;
  font-size: 16px;
  margin: 6px 0;
  text-align: center;
}
.by-data .data-list {
  width: 100%;
  padding: 0 40px;
  background-color: #c8f1fe;
  margin-top: 20px;
}
.by-data .data-list ul li {
  float: left;
  width: 280px;
  height: 228px;
  margin-top: 30px;
  margin-left: 33px;
  margin-bottom: 30px;
}
.by-data .data-list ul li img {
  width: 100%;
  height: 200px;
  display: block;
}
.by-data .data-list ul li:nth-of-type(1),
.by-data .data-list ul li:nth-of-type(5),
.by-data .data-list ul li:nth-of-type(9) {
  margin-left: 0;
}
.by-data .data-list h4 {
  font-size: 18px;
  font-weight: normal;
  color: #333333;
  text-align: center;
  padding-top: 10px;
}
